body {
  background: #41CE0E;
  background-image: url("https://media.giphy.com/media/yeHiKJ5995Pd6/giphy.gif");
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


#boomRoom {
  padding: 5px;
  font-weight: 700;
}

#boxRoom {
  padding: 5px;
  font-weight: 700;
}

#boxRoom2 {
  padding: 5px;
  color: red;
  background: #000000;
}

#boxes {
  padding: 5px;
  height: 200px;
}

.Boxes2 {
  background: #98bf21;
  height: 50px;
  width: 50px;
  position: absolute;
}

#Box1 {
  background: #ffd1dc;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 300px;
  margin-left: 10px;
}

#Box2 {
  background: #ffd1dc;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;
  top: 150px;
  margin-right: 100px;
}

#back {
  position: relative;
}

#gobox {
  position: relative;
}
